@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;

  background: white;
}
img{
  max-width: 100%;
  object-fit: contain;
}

.container {
  margin: 0 auto;
  padding-top: 40px;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}
.main-wrapper{
  flex-grow: 1;
}
.page-header{
  width: 1160px;
  margin: 0 auto;
  padding: 45px 60px 0;
  height: 300px;

  background-color: #FFE17F;
  background-position: center 25px;
  display: flex;
  flex-direction: column;

  box-sizing:border-box;
  position: relative;
}
.header-logo-link{
  width:145px;
  height:36px;

  cursor: pointer;

  position: absolute;
  top:-20px;
  left:60px;

  border: 2px solid transparent;
}
.header-logo:hover, .footer-logo:hover{
  opacity: 0.6;
}

.header-logo:active, .footer-logo:active{
  opacity: 0.3;
}

.header-logo-link:focus, .footer-logo-link:focus{
  border: 2px solid #AF4FFF;
}

.user-menu{
  margin:0;
  padding:0 0 30px 0;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  list-style-type: none;

  display:flex;
  align-items: center;
  justify-content: space-between;
}
.search-form label{
  display: flex;

  position: relative;
}
.search-input, .search-button{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.search-input{
  margin:0;
  padding: 0 0 0 48px;
  width:359px;

  background:#FFE17F;

  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;

  box-sizing: border-box;
}
.search-button{
  margin:0;
  padding: 0;
  width:160px;
  min-height: 40px;


  background:#FFE17F;

  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
.search-icon{
  position: absolute;
  top: 10px;
  left: 16px;
}
.search-input:disabled .search-icon path{
  fill: #B6B4B5;
}
.user-menu-item{
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-menu-search{
  margin-right: 53px;
  max-width: 517px;
  min-height: 40px;

  display: block;
}
.user-menu-login{
  margin-right: 26px;
  width:231px;
}
.user-menu-icon{
  margin-right: 12px;
}
.user-menu-compare{
  margin-right: 36px;
  min-width: 105px;
}
.user-menu-basket{
  min-width: 99px;
}
.user-menu-link{
  color: #000000;
  text-decoration:none;

  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.user-menu-link:hover, .menu-item-link:hover{
  opacity: 0.6;
}

.user-menu-link:active, .menu-item-link:active{
  opacity: 0.3;
}

.user-menu-link:focus, .menu-item-link:focus{
  border: 2px solid #AF4FFF;
}

.menu-list, .menu{
  margin: 0;
  padding: 0;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-list{
  width:471px;

  list-style-type: none;
}
.menu-catalog{
  min-width: 293px;
  margin-right: 276px;
}
.menu a{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.about-device{
  width: 1160px;
  min-height: 401px;
  margin: 0 auto 70px;

  position: relative;
}

.about-device-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top:-147px;
}

.slider{
  margin: 0 40px 0 0;
}
.about-device-description{
  margin-top: 68px;
  width: 560px;
  min-height: 401px;

  align-self: flex-start;
  box-sizing: border-box;
  position: relative;
}

.about-device-number{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;

  position: absolute;
  top:10px;
  left:300px;
}

.about-device-description-bold{
  margin-bottom: 29px;

  position: relative;
}

.black-title{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-device-description-content{
  margin-bottom: 51px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.detailed-wrapper{
  margin-bottom: 49px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailed-link-wrapper{
  min-width: 218px;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
}

.detailed-link{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  position: relative;
  z-index: 2;
}

.detailed-link-wrapper:hover .detailed-link-underline{
  height: 40px;
  top:-1px;
}

.detailed-link-wrapper:active .detailed-link-underline{
  background: #FFCC33;
}

.detailed-link-wrapper:focus{
  border: 2px solid #AF4FFF;
}

.detailed-link-underline{
  width:220px;
  height:8px;

  background: #FFE17F;

  position: absolute;
  top:15px;

  z-index: 1;
}

.slider{
  position: relative;
}

.slider-arrow-input-back, .slider-arrow-input-next{
  width: 24px;
  height: 64px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top:210px;

  background: none;
  border: none;
}

.slider-arrow-input-back{
  left:35px;
}

.slider-arrow-input-next{
  right:6px;
}

.slider-arrow-wrapper{
  min-width: 20px;
  min-height: 60px;
}

.slider-arrow-input-next:hover, .slider-arrow-input-back:hover{
  opacity: 0.6;
}

.slider-arrow-input-next:active, .slider-arrow-input-back:active{
  opacity: 0.3;
}

.slider-arrow-input-next:focus, .slider-arrow-input-back:focus{
  border: 2px solid #AF4FFF;
}

.slider-arrow-input-next:disabled, .slider-arrow-input-back:disabled{
  opacity: 0.1;
}

.slider-pagination-list{
  width:150px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:16px;
  list-style-type: none;
}

.slider-pagination-item{
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.slider-pagination-link{
  width: 8px;
  height: 8px;

  display: flex;

  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
}

.slider-pagination-item.active .slider-pagination-link{
  background: #000000;
}

.slider-pagination-item:hover{
  opacity: 0.6;
}

.slider-pagination-item:active{
  opacity: 0.3;
}

.slider-pagination-item:focus{
  border: 2px solid #AF4FFF;
}

.slider-pagination-item:disabled{
  opacity: 0.1;
}

.description-wrapper{
  max-width: 560px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.description-wrapper span{
  margin-bottom: 12px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}
.description-wrapper div{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.category{
  width: 1160px;
  margin: 0 auto 172px;
}

.category-list{
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;

  list-style-type: none;
}
.category-item{
  width: 164px;
  min-height: 253px;

  display: flex;

  box-sizing: border-box;
}

.category-item-link{
  width: 160px;
  margin: 2px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.category-item:hover{
  opacity: 0.6;
}

.category-item:active{
  opacity: 0.3;
}

.category-item:focus{
  border: 2px solid #AF4FFF;
}

.category-item-img-wrapper{
  height: 160px;
  margin-bottom: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFE17F;
}
.category-item-title{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-delivery{
  width: 100%;
  height: 289px;
  margin-bottom: 70px;

  background: #F0F0F0;
}

.about-delivery-wrapper{
  width: 1160px;
  margin: 0 auto;


  position: relative;
}

.about-delivery-wrapper-buttons{
  display: flex;
  align-items: center;

  position: absolute;
  top:-95px;
}

.about-delivery-buttons{
  min-width: 280px;
  min-height: 190px;
  padding: 64px 0 75px;
  margin-right: 123px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap:45px;

  position: relative;
}

.about-delivery-button-wrapper{
  position: relative;
}

.about-delivery-underline{
  width: 160px;
  height:8px;

  background: #FFE17F;
  content: "";
  position: absolute;
  top:5px;
  z-index:1;
}

.about-delivery-button{
  width:150px;
  padding: 0 0 0 15px;

  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index:4;
  box-sizing: border-box;
}

.about-delivery-button-wrapper.active .about-delivery-button{
  color: #FFE17F;
}

.about-delivery-button-wrapper.active:before{
  width: 280px;
  height: 40px;

  background: #000000;
  content: "";
  position: absolute;
  z-index: 3;
  top:-10px;
}

.about-delivery-button-wrapper.active:after{
  width: 7px;
  height: 319px;

  background: #000000;
  content: "";
  position: absolute;
  left: 280px;
  top: -75px;
  z-index: 3;
}

.about-delivery-description{
  width: 452px;
  margin-top: 66px;

  align-self: flex-start;
  position: relative;
  z-index: 4;
}

.about-delivery-title{
  margin: 0 0 34px 0;
}

.about-delivery-content{
  margin:0;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-delivery-content:after{
  width:136px;
  height: 164px;
  display: flex;

  background: url("../images/delivery.svg");

  content: "";
  position: absolute;
  top:4px;
  right:-220px;
  z-index: 5;
}

.about-company{
  width: 1160px;
  margin: 0 auto;
}

.about-company-header{
  height: 100px;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
}

.about-company-header-yellow-square{
  width: 125px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFE17F;
}

.about-company-header:hover .about-company-header-yellow-square{
  background: #FFC700;
}

.about-company-header:hover .about-company-info g{
  opacity: 1;
}

.about-company-header:active {
  opacity: 0.3;
}

.about-company-header:focus{
  border: 2px solid #AF4FFF;
}

.about-company-header-content{
  width: 910px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: #F0F0F0;
}
.about-company-header-gray-square{
  width: 125px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #F0F0F0;
}

.about-company-info-wrapper{
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.about-company-wrapper{
  min-height: 545px;
  margin-bottom: 70px;
  gap:131px;

  display: flex;
}

.about-company-title{
  margin: 47px 0 48px;
}

.about-company p{
  margin: 0 0 30px 0;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-company-contacts-phone{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.transports-list{
  margin: 0 0 30px 0;
}

.transports-item{
  margin-bottom: 19px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.transports-item:last-child{
  margin-bottom: 0;
}

.about-company-button{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.about-company h4{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
.subscribe{
  width: 1160px;
  margin: 0 auto;
  padding: 64px 0 56px;
}
.subscribe-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe-title{
  width:348px;
}

.subscribe-content{
  width: 560px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-content-form{
  width: 128px;
}

.subscribe-wrapper:first-child{
  margin-bottom: 144px;
}

.subscribe-form{
  width: 810px;
}

.subscribe-form-input{
  width: 557px;
  height: 55px;

  border: none;
  border-bottom: 3px solid #C4C4C4;
  box-sizing: border-box;
}

.page-footer{
  width: 100%;
  min-height: 321px;

  background: #444444;
}

.page-footer-wrapper{
  width: 1160px;
  min-height: 321px;
  margin: 0 auto;
  padding: 62px 0 61px;

  display: grid;
  grid-template-columns: 1fr 444px 1fr;
  grid-template-areas: "device device device"
  "content menu phone"
  "underline icons academy";
  align-items: center;
}

.footer-logo-link{
  width: 145px;
  height: 36px;

  grid-area: device;
  cursor: pointer;
}

.footer-logo-content{
  width: 239px;
  grid-area: content;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-logo-underline{
  width:80px;
  height: 7px;

  grid-area: underline;

  background: #FFC700;
}

.footer-menu-list{
  display: flex;
  gap: 35px;

  grid-area:menu;
  justify-self: center;

  list-style-type: none;
}

.footer-menu-item{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-icons-list{
  display: flex;
  gap: 15px;

  grid-area: icons;
  justify-self: center;

  list-style-type: none;
}

.footer-icons-item{
  min-width: 44px;
  min-height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.footer-icons-link{
  width: 40px;
  height: 40px;
  margin: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.footer-icons-link:hover{
  background: #FFC700;
}

.footer-icons-link:active .footer-icon{
  opacity: 0.3;
}

.footer-icons-link:focus .footer-icons-item{
  border:2px solid #AF4FFF;
}

.footer-phone{
  margin-left: 183px;

  grid-area: phone;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-html-link{
  margin-left: 243px;

  grid-area:academy;
}



.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  width:760px;
  margin: auto;
  padding: 72px 80px;

  display: flex;
  flex-direction: column;
  gap: 42px;

  position: relative;


  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header-title{
  max-width: 550px;
  margin: 0;
  padding: 0;

  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.close-button{
  display: flex;
  align-items: center;
  justify-content: center;

  border:none;
  background: none;
}

.field-group{
  margin-bottom: 42px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-field, .email-field{
  width: 360px;
}

.products-field{
  width: 540px;
}

.num-field{
  width: 180px;
}

.modal-form-label span{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-form-label{
  display: flex;
  flex-direction: column;
  gap: 14px;

  position: relative;
}

.modal-form-input{
  min-height: 60px;
  padding: 20px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  border:2px solid transparent;
  background: #F0F0F0;
  box-sizing: border-box;
}

.modal-form-button{
  width:200px;
  margin: 0;
  padding: 16px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  border:none;
  background: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.modal-form-button-wrapper{
  position: relative;
}

.modal-form-outline{
  width:200px;
  height:8px;
  background: #FFE17F;

  position: absolute;
  top:21px;
  left:0;
  z-index: 1;
}

.modal-form-label-name{
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.num-field input {
  text-align: center;
  opacity: 1;
}

.modal-form-label-button{
  position: absolute;
  bottom: 22px;

  background: none;
  border: none;
  cursor: pointer;
}

.modal-form-label-button.plus-button{
  right: 22px;
}

.modal-form-label-button.minus-button{
  left: 22px;
}

.error .modal-form-input{
  border: 2px solid #FF3D3D;
}

.num-field-info-wrapper{
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFE17F;
  border-radius: 50%;

  position: absolute;
  top: -3px;
  right: 34px;
}

.num-field-info-wrapper:hover .num-field-info-wrapper:before{
  width: 14px;
  height: 6px;

  
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
