@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;

  background: white;
}
img{
  max-width: 100%;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding-top: 40px;
  width: 1160px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}
.main-wrapper{
  flex-grow: 1;
}
.page-header{
  padding: 45px 60px 0;
  height: 300px;

  background-color: #FFE17F;
  background-position: center 25px;
  display: flex;
  flex-direction: column;

  position: relative;
}
.device-logo-link{
  width:145px;
  height:36px;

  position: absolute;
  top:-20px;
  left:60px;
}
.black-logo:hover{
  opacity: 0.6;
}
.black-logo:active{
  opacity: 0.3;
}
.user-menu{
  margin:0;
  padding:0 0 30px 0;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  list-style-type: none;

  display:flex;
  align-items: center;
  justify-content: space-between;
}
.search-form label{
  display: flex;

  position: relative;
}
.search-input, .search-button{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.search-input{
  margin:0;
  padding: 0 0 0 48px;
  width:359px;

  background:#FFE17F;

  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;

  box-sizing: border-box;
}
.search-button{
  margin:0;
  padding: 0;
  width:160px;
  min-height: 40px;


  background:#FFE17F;

  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
.search-icon{
  position: absolute;
  top: 10px;
  left: 16px;
}
.search-input:disabled .search-icon path{
  fill: #B6B4B5;
}
.user-menu-item{
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-menu-search{
  margin-right: 53px;
  max-width: 517px;
  min-height: 40px;

  display: block;
}
.user-menu-login{
  margin-right: 26px;
  width:231px;
}
.user-menu-icon{
  margin-right: 12px;
}
.user-menu-compare{
  margin-right: 36px;
  min-width: 105px;
}
.user-menu-basket{
  min-width: 99px;
}
.user-menu-link{
  color: #000000;
  text-decoration:none;

  display: flex;
  align-items: baseline;
}
.user-menu-link:hover{
  opacity: 0.6;
}

.user-menu-link:hover path{
  fill: #B6B4B5;
}
.menu-list, .menu{
  margin: 0;
  padding: 0;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-list{
  width:471px;

  list-style-type: none;
}
.menu-catalog{
  min-width: 293px;
  margin-right: 276px;
}
.menu a{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.about-device{
  margin-bottom: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider{
  margin: 0 40px 0 0;
}
.about-device-description{
  width: 560px;
  min-height: 401px;
}
.about-device-description-bold{
  margin-bottom: 29px;
}

.black-title{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-device-description-content{
  margin-bottom: 51px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.detailed-wrapper{
  margin-bottom: 49px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailed-link{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.flight-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}
.flight-wrapper span{
  margin-bottom: 12px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}
.flight-wrapper div{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.category-list{
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  list-style-type: none;
}
.category-item{
  width: 160px;
  min-height: 253px;
}
.category-item-img-wrapper{
  height: 160px;
  margin-bottom: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFE17F;
}
.category-item-title{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-delivery{
  display: flex;
  align-items: center;
}

.about-delivery-buttons{
  width: 280px;
  min-height: 190px;
  padding: 64px 0 75px;
  margin-right: 123px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:45px;
}

.about-delivery-button{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.about-delivery-description{
  width: 452px;
  min-height: 174px;
  margin: auto 0;
}

.about-delivery-title{
  margin: 0 0 34px 0;
}

.about-delivery-content{
  margin:0;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-company-header{
  height: 100px;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
}

.about-company-header-yellow-square{
  width: 125px;
  height: 100px;

  background: #FFE17F;
}

.about-company-header-content{
  width: 910px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: #F0F0F0;
}
.about-company-header-gray-square{
  width: 125px;
  height: 100px;

  background: #F0F0F0;
}

.about-company-wrapper{
  min-height: 545px;
  margin-bottom: 70px;
  gap:131px;

  display: flex;
}

.about-company-title{
  margin: 47px 0 48px;
}

.about-company p{
  margin: 0 0 30px 0;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.transports-list{
  margin: 0 0 30px 0;
}

.transports-item{
  margin-bottom: 19px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.transports-item:last-child{
  margin-bottom: 0;
}

.about-company-button{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.about-company h4{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
.subscribe{
  padding: 64px 0 56px;
}
.subscribe-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-title{
  width:348px;
}

.subscribe-content{
  width: 560px;

  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-content-form{
  width: 128px;
}

.subscribe-wrapper:first-child{
  margin-bottom: 144px;
}
.page-footer{
  width: 100%;
  min-height: 321px;

  background: #444444;
}

.page-footer-wrapper{
  width: 1160px;
  min-height: 321px;

  display: flex;
  justify-content: space-between;
}



.footer-wrapper-logo{
  width:239px;
  margin: 62px 119px 0 0;
}

.footer-wrapper-logo-content{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-wrapper-logo-underline{
  width:80px;
  height: 7px;

  background: #FFC700;
}

.footer-menu-list{
  display: flex;

  list-style-type: none;
}
.footer-icons-list{
  display: flex;

  list-style-type: none;
}

.footer-wrapper{
  margin-bottom: 77px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
